@charset "utf-8";
.container .container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(245,238,239,1.00) 0%,rgba(240,218,14,1.00) 51.19%,rgba(241,234,234,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(245,238,239,1.00) 0%,rgba(240,218,14,1.00) 51.19%,rgba(241,234,234,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(245,238,239,1.00) 0%,rgba(240,218,14,1.00) 51.19%,rgba(241,234,234,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(245,238,239,1.00) 0.00%,rgba(240,218,14,1.00) 51.19%,rgba(241,234,234,1.00) 100%);
}
.container {
    background-image: url(images/istockphoto-1146783088-612x612.jpg);
}
